yarn-error.log
npm-debug.log
composer.lock
Homestead.yaml
Homestead.json
/vendor
/storage/*.key
/node_modules
/.vscode
.phpunit.result.cache
.php_cs.dist
.php_cs.cache
.idea
.env.backup
.env
.deploy
.DS_Store
